{% assign headline = section.settings.headline %}
{% assign image = section.settings.image %}
{% assign alt = section.settings.alt %}

<div class="sticky-scroll-section js-sticky-scroll fh fjc wm mc p4 desktop-only">
  
  <div class="sticky-scroll-container wxs ani-anchor">
    {% if headline != blank %}<p class="sticky-scroll-header t-h5 mb5"><span>{{headline}}</span></p>{% endif %}
    {% for block in section.blocks %}
      {% assign index = block.settings.index %}

      {% if index != blank %}
        <div class="sticky-block-scroll" data-index="{{forloop.index}}">
          {% if index != blank %}<p class="value-index t-h0 mb6">{{index}}</p>{% endif %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
  <div class="sticky-scroll-static wxs ani-anchor">
    
    {% for block in section.blocks %}
      {% assign header = block.settings.value_header %}
      {% assign subheader = block.settings.value_subheader %}
      {% assign text = block.settings.value_text %}
      
      
      <div class="sticky-block-static" data-index="{{forloop.index}}">
        {% if header != blank %}
          <p class="sticky-block-static-header mb2 t-h4">{{header}}</p>
        {% endif %}
        {% if subheader != blank %}
          <p class="sticky-block-static-subheader mb2 t-h5">{{subheader}}</p>
        {% endif %}
        {% if text != blank %}
          <p class="sticky-block-static-text mb2">{{text}}</p>
        {% endif %}
      </div>
      
    {% endfor %}

  </div>
</div>

<div class="sticky-scroll-section-mobile slider-wrapper mobile-only">
  
  {% if headline != blank %}<p class="t-h3 mc mb3 mt3 tc"><span>{{headline}}</span></p>{% endif %}

  {% if image != blank %}
    <div class="sticky-block-static-image wxs mc">
      <img class="lazy" data-src="{{image | img_url: '600x'}}" alt="{{alt}}">
    </div>
  {% endif %}

  <div class="sticky-scroll-slider slider w">
    
    {% for block in section.blocks %}
      {% assign header = block.settings.value_header %}
      {% assign subheader = block.settings.value_subheader %}
      {% assign text = block.settings.value_text %}

      {% if header != blank or subheader != blank %}
        <div class="sticky-scroll-slide slide tc w">
          <div class="sticky-scroll-slide-inner fv fjc fc wxs mc pr3 pl3">
            {% if header != blank %}<p class="t-h4 mt3">{{header}}</p>{% endif %}
            {% if subheader != blank %}<p class="t-h5 mb3">{{subheader}}</p>{% endif %}
            {% if text != blank %}<p class="mb2">{{text}}</p>{% endif %}
          </div>
        </div>
      {% endif %}

    {% endfor %}
  </div>
</div>