<section id="account-content">
<div class="mc wm">
  <div class="orders-list" data-url="{{ order.customer_url }}">
  <ul class="fh">
    <li>{{ order.name }}</li>
    <li>{{ order.created_at | date: '%b %d, %y' }}</li>
    <li>{{ order.financial_status_label }}</li>
    <li>{{ order.fulfillment_status_label }}</li>
    <li>{{ order.total_price | money }}</li>
  </ul>
  <div class="order-details">
    {% for line_item in order.line_items %}
      <a class="order-item fh" href="{{ line_item.url }}">
        <span><img src="{{ line_item | img_url: 'small' }}" alt="{{ line_item.title | escape }}" data-rjs="{{ line_item | img_url: 'medium' }}"></span>
        <span>{{ line_item.title }}</span>
        <span>{{ line_item.price | money }}</span>
        <span>x {{ line_item.quantity }}</span>
        <span>= {{ line_item.quantity | times: line_item.price | money }}</span>
      </a>
      {% if line_item.fulfillment.tracking_number %}
        {% assign tracking_url = line_item.fulfillment.tracking_url %}
        {% assign tracking_number = line_item.fulfillment.tracking_number %}
      {% else %}
        {% assign tracking_url = empty %}
        {% assign tracking_number = empty %}
      {% endif %}
    {% endfor %}
    <p class="order-info">
      {% if tracking_number != empty %}
        Tracking Number: <a href="{{ tracking_url }}">{{ tracking_number }}</a><br>
      {% endif %}
      {% for discount in order.discounts %}
        Discount: {{ discount.code }} ({{ discount.savings | money }})<br>
      {% endfor %}
      {% for shipping_method in order.shipping_methods %}
        Shipping Method: {{ shipping_method.title }} ({{ shipping_method.price | money }})<br>
      {% endfor %}
      {% for tax_line in order.tax_lines %}
        Tax: {{ tax_line.title }} ({{ tax_line.price | money }})<br>
      {% endfor %}
      Total: {{ order.total_price | money }} {{ order.currency }}
    </p>
  </div>
  </div>
</div>
</section>